:root {
    --color-black: hsl(0, 0%, 7%);
    --color-white: hsl(0, 0%, 100%);
    --color-green: hsl(115, 29%, 43%);
    --color-yellow: hsl(49, 51%, 47%);
    --color-gray-dark: hsl(240, 2%, 23%);
    --color-gray-light: hsl(200, 1%, 51%);
}
body{
    text-align: center;
    background-color: var(--color-gray-dark);
    color: #fff;
    min-height: 100vh;
}
header{
    background-color: var(--color-black);
    color: var(--color-white);
}
table{
    background: #ff5400;
}
.container {
    background: black;
    display: inline-block;
    margin: 25px 3rem;
    border: 5px solid black;
  }
.grid {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    grid-gap: 5px;
  }
.square {
    /* center the cell content */
   justify-content: center;
   align-items: center;
   display: flex;
   font-family: Arial;
   font-size: 3rem;
   font-weight: bold;
   background: lemonchiffon;
   cursor: pointer;
   color: #000;
}
.red{
    background: red;
}
.green{
    background: green;
}

button {
    background-color: var(--color-green);
    padding: 1rem;
    text-align: center;
    border: 1px solid;
    border-radius: 15%;
    margin-right: 2px;
    margin-left: 2px;
    gap: 10px;
}    
button:hover{
    background-color: hsl(115, 29%, 73%);
    cursor: pointer;
}
img {
    height: 80px;
    width: 80px;
    box-shadow: 10px 10px 32px -12px rgba(0,0,0,0.75);
}
footer{
    justify-content: baseline;
    background: var(--color-black);
    color: var(--color-white);
    padding: 10px;
    margin-bottom: 0;
}