:root {
    --color-black: hsl(0, 0%, 7%);
    --color-white: hsl(0, 0%, 100%);
    --color-green: hsl(115, 29%, 43%);
    --color-yellow: hsl(49, 51%, 47%);
    --color-gray-dark: hsl(240, 2%, 23%);
    --color-gray-light: hsl(200, 1%, 51%);
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background: var(--color-black);
    color: var(--color-white);
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
header { border-bottom: 1px solid var(--color-gray-dark);}
h1 {
    margin: 10px 0;
    padding: 0%;
    text-align: center;
}
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: var(--color-gray-light);
}
#board{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}
#board ul{
    display: flex;
    list-style: none;
    margin: auto;
    
}
li{
   flex-grow: 2;
   background-color: #121212;
   color: var(--color-black);
    border: 2px solid var(--color-gray-dark); 
    height: 5rem;
    width: 5rem;
    display: inline-block;
    cursor: pointer;
}
.white{
    background-color: var(--color-white);
    color: var(--color-white);
}
.black{
    background-color: var(--color-black);
    color: var(--color-black);
}

#reset{
    background-color: var(--color-green);
    padding: 1rem;
    text-align: center;
    border: 1px solid;
    border-radius: 15%;
    gap: 10px;
}
#startTimer, #pauseTimer{
    background-color: var(--color-yellow);
    padding: 1rem;
    text-align: center;
    border: 1px solid;
    border-radius: 15%;
    margin-right: 2px;
    margin-left: 2px;
    gap: 10px;
}
#startTimer:hover, #pauseTimer:hover{
    background-color: hsl(49, 51%, 73%);
    cursor: pointer;
}
#reset:hover{
    background-color: hsl(115, 29%, 73%);
    cursor: pointer;
}
footer { border-top: 1px solid var(--color-gray-dark);}
.nav{
    text-align: center;
}